# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore environment variable files
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore compiled C extensions
*.so

# Ignore mypy cache
.mypy_cache/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore pytest cache
.pytest_cache/
hate you
love you